/*Här skriver ni css*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
  color: #444;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
h2 {
  color: rgb(133, 94, 172);
  font-size: 6rem;
  text-align: center;
  opacity: 0.4;
}
#task {
  border: 2px solid #d1d3d4;
  color: #444;
  font-size: 2rem;
  padding: 1rem 2rem;
  width: 65%;
  position: relative;
  border-radius: 3px;
}
input::placeholder {
  color: #d5d5d5;
}

#my-button {
  position: relative;
  background-color: #b9a8bd;
  font-size: 1.5rem;
  margin-top: 5px;
  padding: 1rem 1rem;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
}
ul {
  list-style: none;
}
#list li {
  background-color: rgb(212, 211, 211);
  margin: 0.5rem;
  padding-left: 8px;
  display: flex;
  opacity: 1;
  transition: opacity 0.5s ease;

  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
#list {
}
li:hover {
  opacity: 0.7;
}

.delete {
  background-color: rgb(228, 228, 228);
  background: #ff6f47;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 3rem;
  margin-left: 75px;
}
